.navbar-brand a{
	font-weight: bold;
	font-size: 24px;
}

.file-input-box{
	width: 200px;
	max-width: 200px;
}

#fileName{
	text-align: center;
}

.btn {
 background-color: DodgerBlue;
 border: none;
 color: white;
 padding: 12px 30px;
 cursor: pointer;
 font-size: 20px;
}

.royalbluebg{
	background-color: DodgerBlue!important;
	color: white;
	padding: 12px 30px;
	cursor: pointer;
	font-size: 20px;
}

.hide {
	display:none;
}